<!-- <div class=" test bg-info"><h1>ddd</h1></div> -->
<div class="footer p-3 bg-main-light">
    <div class="container">
        <h2 class="getApp">Get the FreshCart app</h2>
        <p class="lead">We will send you a link, open it on your phone to download the app.</p>
        <div class="link-input my-4 px-2 d-flex justify-content-between">
            <input class="w-75 form-control" placeholder="Email ..." type="text" name="emailLink" id="">
            <button class="btn bg-main text-white ms-3 w-25">Share app link</button>
        </div>
        <div class="payment my-4 py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="paymet-section d-flex align-items-center">
                            <h3 class="h5 fw-bolder">Payment Partenrs</h3>
                            <img class="w-50" src="../../assets/images/payments.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="paymet-section pt-2 d-flex align-items-center">
                            <h3 class="h5 fw-bolder">Get delivers with FreshCart</h3>
                            <img class="ms-2" height="40" src="../../assets/images/app.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>