<div class="w-75 mx-auto py-4">
    <h3 class="mb-3">Login</h3>
    <form (ngSubmit)="handelLogin(loginForm)" [formGroup]="loginForm">
        <!-- <h2>{{registerForm.get('name')?.getError('minlength')|json}}</h2> -->
        <div *ngIf="apiError" class="alert alert-danger">
            {{apiError}}
        </div>

        <label for="email">Email:</label>
        <input formControlName="email" type="email" class="form-control mb-2" id="email">
        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
            <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0">Email is not Valid</p>
            <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0">Email is required</p>
        </div>

        <label for="password">Password:</label>
        <input formControlName="password" type="password" class="form-control mb-2" id="password">
        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger">
            <p *ngIf="loginForm.get('password')?.getError('pattern')" class="m-0">password is not Valid. Password must start with UPPERCASE character and from 3 to 10 lowercasr character or from 0 to 9 numbers</p>
            <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0">password is required</p>
        </div>


        <button [disabled]="loginForm.invalid" type="submit" class="btn d-block ms-auto border-none border-0 text-light bg-main">
            <i *ngIf="loadingStatus" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="!loadingStatus">Login</span>
        </button>
        
    </form>

</div>