<app-mainslider></app-mainslider>
<app-categories></app-categories>
<div class="container">
    <div class="row">
        <div *ngFor="let product of products" class="col-md-2 ">
            <div class="product px-2 py-4 cursor-pointer">
                <a [routerLink]="['/productdetails' , product._id]">
                <img class="w-100" src={{product.imageCover}} alt={{product.title}}>
                <span class="text-main muted fw-bold font-sm">{{product.category.name}}</span>
                <h3 class="h6 fw-bolder">{{product.title.split(' ').slice(0,3).join(' ')}}</h3>
                <div class="d-flex algin-items-center justify-content-between">
                    <span class="text-muted fw-bold font-sm">{{product.price}}EGP</span>
                    <div>
                        <i class="fas fa-star rating-color"></i>
                        <span>{{product.ratingsAverage}}</span>
                    </div>
                </div>
                </a>    
                <button (click)="addToCart(product._id)" class="btn bg-main text-white w-100 mt-3"> + Add</button>
            </div>
        </div>
    </div>
</div>
