<div class="w-75 mx-auto py-4">
    <h3 class="mb-3">Regsiter</h3>
    <form (ngSubmit)="handelRegister(registerForm)" [formGroup]="registerForm">
        <!-- <h2>{{registerForm.get('name')?.getError('minlength')|json}}</h2> -->
        <div *ngIf="apiError" class="alert alert-danger">
            {{apiError}}
        </div>
        <label for="name">Name:</label>
        <input formControlName="name" type="text" class="form-control mb-2" id="name">
        <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched" class="alert alert-danger">
            <p *ngIf="registerForm.get('name')?.getError('minlength')" class="m-0">Name minimum length is 3</p>
            <p *ngIf="registerForm.get('name')?.getError('maxlength')" class="m-0">Name maximum length is 10</p>
            <p *ngIf="registerForm.get('name')?.getError('required')" class="m-0">Name is required</p>
        </div>

        <label for="email">Email:</label>
        <input formControlName="email" type="email" class="form-control mb-2" id="email">
        <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert alert-danger">
            <p *ngIf="registerForm.get('email')?.getError('email')" class="m-0">Email is not Valid</p>
            <p *ngIf="registerForm.get('email')?.getError('required')" class="m-0">Email is required</p>
        </div>

        <label for="password">Password:</label>
        <input formControlName="password" type="password" class="form-control mb-2" id="password">
        <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert alert-danger">
            <p *ngIf="registerForm.get('password')?.getError('pattern')" class="m-0">password is not Valid. Password must start with UPPERCASE character and from 3 to 10 lowercasr character or from 0 to 9 numbers</p>
            <p *ngIf="registerForm.get('password')?.getError('required')" class="m-0">password is required</p>
        </div>

        <label for="rePassword">re-Password:</label>
        <input formControlName="rePassword" type="password" class="form-control mb-2" id="rePassword">
        <div *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched" class="alert alert-danger">
            <p *ngIf="registerForm.get('rePassword')?.getError('pattern')" class="m-0">rePassword is not Valid. rePassword must start with UPPERCASE character and from 3 to 10 lowercasr character or from 0 to 9 numbers</p>
            <p *ngIf="registerForm.get('rePassword')?.getError('required')" class="m-0">rePassword is required</p>
        </div>

        <label for="phone">phone:</label>
        <input formControlName="phone" type="tel" class="form-control mb-2" id="phone">
        <div *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched" class="alert alert-danger">
            <p *ngIf="registerForm.get('phone')?.getError('pattern')" class="m-0">phone is not Valid. Enter an valid Egyption phone</p>
            <p *ngIf="registerForm.get('phone')?.getError('required')" class="m-0">phone is required</p>
        </div>

        <button [disabled]="registerForm.invalid" type="submit" class="btn d-block ms-auto border-none border-0 text-light bg-main">
            <i *ngIf="loadingStatus" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="!loadingStatus">Register</span>
        </button>
        
    </form>

</div>